@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
/*
! tailwindcss v3.0.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.inset-0{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.inset-4{
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}

.bottom-5{
  bottom: 1.25rem;
}

.right-3{
  right: 0.75rem;
}

.left-0{
  left: 0px;
}

.right-0{
  right: 0px;
}

.top-0{
  top: 0px;
}

.-top-1\/2{
  top: -50%;
}

.top-1\/2{
  top: 50%;
}

.right-4{
  right: 1rem;
}

.top-14{
  top: 3.5rem;
}

.top-16{
  top: 4rem;
}

.right-5{
  right: 1.25rem;
}

.top-3{
  top: 0.75rem;
}

.top-1{
  top: 0.25rem;
}

.right-2\.5{
  right: 0.625rem;
}

.right-2{
  right: 0.5rem;
}

.left-1\/2{
  left: 50%;
}

.-top-5{
  top: -1.25rem;
}

.top-5{
  top: 1.25rem;
}

.z-\[9999\]{
  z-index: 9999;
}

.z-50{
  z-index: 50;
}

.z-10{
  z-index: 10;
}

.z-\[-100\]{
  z-index: -100;
}

.z-20{
  z-index: 20;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.ml-5{
  margin-left: 1.25rem;
}

.mr-7{
  margin-right: 1.75rem;
}

.mt-8{
  margin-top: 2rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-4{
  margin-top: 1rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.ml-4{
  margin-left: 1rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.-mr-2{
  margin-right: -0.5rem;
}

.mt-12{
  margin-top: 3rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.mt-7{
  margin-top: 1.75rem;
}

.mt-14{
  margin-top: 3.5rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mt-2\.5{
  margin-top: 0.625rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mt-\[70px\]{
  margin-top: 70px;
}

.mb-12{
  margin-bottom: 3rem;
}

.mb-14{
  margin-bottom: 3.5rem;
}

.box-content{
  box-sizing: content-box;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-2{
  height: 0.5rem;
}

.h-20{
  height: 5rem;
}

.h-full{
  height: 100%;
}

.h-16{
  height: 4rem;
}

.h-10{
  height: 2.5rem;
}

.h-4{
  height: 1rem;
}

.h-6{
  height: 1.5rem;
}

.h-72{
  height: 18rem;
}

.h-0\.5{
  height: 0.125rem;
}

.h-0{
  height: 0px;
}

.h-12{
  height: 3rem;
}

.h-auto{
  height: auto;
}

.h-14{
  height: 3.5rem;
}

.h-screen{
  height: 100vh;
}

.h-\[100px\]{
  height: 100px;
}

.h-\[450px\]{
  height: 450px;
}

.h-\[1px\]{
  height: 1px;
}

.h-3{
  height: 0.75rem;
}

.h-28{
  height: 7rem;
}

.h-\[300px\]{
  height: 300px;
}

.h-5{
  height: 1.25rem;
}

.h-\[240px\]{
  height: 240px;
}

.h-24{
  height: 6rem;
}

.h-1\.5{
  height: 0.375rem;
}

.h-1{
  height: 0.25rem;
}

.h-40{
  height: 10rem;
}

.h-\[550px\]{
  height: 550px;
}

.h-60{
  height: 15rem;
}

.h-48{
  height: 12rem;
}

.min-h-screen{
  min-height: 100vh;
}

.w-full{
  width: 100%;
}

.w-60{
  width: 15rem;
}

.w-6{
  width: 1.5rem;
}

.w-2{
  width: 0.5rem;
}

.w-5{
  width: 1.25rem;
}

.w-4{
  width: 1rem;
}

.w-20{
  width: 5rem;
}

.w-48{
  width: 12rem;
}

.w-auto{
  width: auto;
}

.w-14{
  width: 3.5rem;
}

.w-16{
  width: 4rem;
}

.w-0{
  width: 0px;
}

.w-36{
  width: 9rem;
}

.w-10{
  width: 2.5rem;
}

.w-8{
  width: 2rem;
}

.w-\[270px\]{
  width: 270px;
}

.w-\[20px\]{
  width: 20px;
}

.w-\[142px\]{
  width: 142px;
}

.w-7{
  width: 1.75rem;
}

.w-90{
  width: 1220px;
}

.w-64{
  width: 16rem;
}

.w-84{
  width: 1190px;
}

.w-\[60\%\]{
  width: 60%;
}

.w-\[40\%\]{
  width: 40%;
}

.w-3{
  width: 0.75rem;
}

.w-2\/3{
  width: 66.666667%;
}

.w-\[300px\]{
  width: 300px;
}

.w-9{
  width: 2.25rem;
}

.w-\[500px\]{
  width: 500px;
}

.w-\[1000px\]{
  width: 1000px;
}

.w-\[430px\]{
  width: 430px;
}

.w-\[100px\]{
  width: 100px;
}

.w-24{
  width: 6rem;
}

.w-1\/2{
  width: 50%;
}

.w-\[79\%\]{
  width: 79%;
}

.w-1\.5{
  width: 0.375rem;
}

.w-1{
  width: 0.25rem;
}

.w-\[70\%\]{
  width: 70%;
}

.w-\[88\%\]{
  width: 88%;
}

.w-56{
  width: 14rem;
}

.w-12{
  width: 3rem;
}

.min-w-full{
  min-width: 100%;
}

.max-w-7xl{
  max-width: 80rem;
}

.flex-shrink{
  flex-shrink: 1;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.shrink-0{
  flex-shrink: 0;
}

.flex-grow{
  flex-grow: 1;
}

.table-fixed{
  table-layout: fixed;
}

.origin-top-left{
  transform-origin: top left;
}

.origin-top{
  transform-origin: top;
}

.origin-top-right{
  transform-origin: top right;
}

.-translate-y-12{
  --tw-translate-y: -3rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-full{
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-10{
  --tw-translate-y: 2.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-14{
  --tw-translate-y: 3.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-1\/3{
  --tw-translate-x: 33.333333%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-full{
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-180{
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-95{
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-125{
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-110{
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@-webkit-keyframes hidde-menu{

  100%{
    transform: translateX(-100%);
  }
}

@keyframes hidde-menu{

  100%{
    transform: translateX(-100%);
  }
}

.animate-hidde-menu{
  -webkit-animation: hidde-menu .6s ease-in-out forwards;
          animation: hidde-menu .6s ease-in-out forwards;
}

@-webkit-keyframes show-menu{

  100%{
    transform: translateX(0px);
  }
}

@keyframes show-menu{

  100%{
    transform: translateX(0px);
  }
}

.animate-show-menu{
  -webkit-animation: show-menu .6s ease-in-out forwards;
          animation: show-menu .6s ease-in-out forwards;
}

@-webkit-keyframes show-timeStart{

  100%{
    transform: translateY(0px);
    opacity: 1;
    display: flex;
  }
}

@keyframes show-timeStart{

  100%{
    transform: translateY(0px);
    opacity: 1;
    display: flex;
  }
}

.animate-show-timeStart{
  -webkit-animation: show-timeStart .3s ease-in-out forwards;
          animation: show-timeStart .3s ease-in-out forwards;
}

@-webkit-keyframes hidde-timeStart{

  100%{
    transform: translateY(40px);
    opacity: 0;
    display: hidden;
  }
}

@keyframes hidde-timeStart{

  100%{
    transform: translateY(40px);
    opacity: 0;
    display: hidden;
  }
}

.animate-hidde-timeStart{
  -webkit-animation: hidde-timeStart .3s ease-in-out forwards;
          animation: hidde-timeStart .3s ease-in-out forwards;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-default{
  cursor: default;
}

.list-inside{
  list-style-position: inside;
}

.list-disc{
  list-style-type: disc;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}

.gap-8{
  gap: 2rem;
}

.gap-4{
  gap: 1rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-y-8{
  row-gap: 2rem;
}

.gap-x-3{
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.space-x-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.space-y-7 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}

.space-x-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-1\.5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-x-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-12 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-7 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1.75rem * var(--tw-space-x-reverse));
  margin-left: calc(1.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-10 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.space-y-32 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(8rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(8rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-2\.5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.space-y-11 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.75rem * var(--tw-space-y-reverse));
}

.divide-y > :not([hidden]) ~ :not([hidden]){
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-x > :not([hidden]) ~ :not([hidden]){
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}

.divide-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-y-reverse: 0;
  border-top-width: calc(2px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(2px * var(--tw-divide-y-reverse));
}

.divide-blue-500 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-divide-opacity));
}

.divide-gray-300 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-divide-opacity));
}

.divide-forth-gray > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: rgb(225 225 225 / var(--tw-divide-opacity));
}

.divide-gray-200 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

.divide-first-gray > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: rgb(96 96 96 / var(--tw-divide-opacity));
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-visible{
  overflow: visible;
}

.overflow-x-auto{
  overflow-x: auto;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-sm{
  border-radius: 0.125rem;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-l-md{
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.border{
  border-width: 1px;
}

.border-2{
  border-width: 2px;
}

.border-\[12px\]{
  border-width: 12px;
}

.border-\[3px\]{
  border-width: 3px;
}

.border-4{
  border-width: 4px;
}

.border-8{
  border-width: 8px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-b-2{
  border-bottom-width: 2px;
}

.border-l-4{
  border-left-width: 4px;
}

.border-t{
  border-top-width: 1px;
}

.border-l{
  border-left-width: 1px;
}

.border-r{
  border-right-width: 1px;
}

.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-gray-300{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-transparent{
  border-color: transparent;
}

.border-indigo-400{
  --tw-border-opacity: 1;
  border-color: rgb(129 140 248 / var(--tw-border-opacity));
}

.border-gray-100{
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border-forth-gray{
  --tw-border-opacity: 1;
  border-color: rgb(225 225 225 / var(--tw-border-opacity));
}

.border-second-gray{
  --tw-border-opacity: 1;
  border-color: rgb(51 51 51 / var(--tw-border-opacity));
}

.border-blue-600{
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
}

.border-first-gray{
  --tw-border-opacity: 1;
  border-color: rgb(96 96 96 / var(--tw-border-opacity));
}

.border-third-gray{
  --tw-border-opacity: 1;
  border-color: rgb(155 155 155 / var(--tw-border-opacity));
}

.border-five-gray{
  --tw-border-opacity: 1;
  border-color: rgb(247 247 247 / var(--tw-border-opacity));
}

.border-blue-500{
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

.border-black{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-green-600{
  --tw-border-opacity: 1;
  border-color: rgb(22 163 74 / var(--tw-border-opacity));
}

.border-primary{
  --tw-border-opacity: 1;
  border-color: rgb(36 123 221 / var(--tw-border-opacity));
}

.border-red-600{
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity));
}

.\!border-blue-500{
  --tw-border-opacity: 1 !important;
  border-color: rgb(59 130 246 / var(--tw-border-opacity)) !important;
}

.border-blue-400{
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-second-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity));
}

.bg-blue-500{
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.bg-footer-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(46 46 46 / var(--tw-bg-opacity));
}

.\!bg-primary{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(36 123 221 / var(--tw-bg-opacity)) !important;
}

.bg-gray-800{
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.bg-gray-600\/40{
  background-color: rgb(75 85 99 / 0.4);
}

.bg-indigo-50{
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 255 / var(--tw-bg-opacity));
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(36 123 221 / var(--tw-bg-opacity));
}

.bg-five-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity));
}

.bg-\[\#363636\]{
  --tw-bg-opacity: 1;
  background-color: rgb(54 54 54 / var(--tw-bg-opacity));
}

.bg-black\/30{
  background-color: rgb(0 0 0 / 0.3);
}

.bg-green-400{
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity));
}

.bg-forth-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(225 225 225 / var(--tw-bg-opacity));
}

.\!bg-gray-300{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity)) !important;
}

.bg-gray-300{
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.bg-gray-50{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.bg-gray-200{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-\[\#e95454\]{
  --tw-bg-opacity: 1;
  background-color: rgb(233 84 84 / var(--tw-bg-opacity));
}

.bg-\[\#e7a855\]{
  --tw-bg-opacity: 1;
  background-color: rgb(231 168 85 / var(--tw-bg-opacity));
}

.bg-\[\#247bdd\]{
  --tw-bg-opacity: 1;
  background-color: rgb(36 123 221 / var(--tw-bg-opacity));
}

.bg-gray-800\/40{
  background-color: rgb(31 41 55 / 0.4);
}

.bg-third-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(155 155 155 / var(--tw-bg-opacity));
}

.fill-current{
  fill: currentColor;
}

.object-contain{
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-fill{
  -o-object-fit: fill;
     object-fit: fill;
}

.p-6{
  padding: 1.5rem;
}

.p-2{
  padding: 0.5rem;
}

.p-4{
  padding: 1rem;
}

.p-0{
  padding: 0px;
}

.p-5{
  padding: 1.25rem;
}

.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-14{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-14{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-1\.5{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-20{
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-0\.5{
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-12{
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-2\.5{
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt-14{
  padding-top: 3.5rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-1{
  padding-top: 0.25rem;
}

.pl-3{
  padding-left: 0.75rem;
}

.pr-4{
  padding-right: 1rem;
}

.pt-20{
  padding-top: 5rem;
}

.pb-20{
  padding-bottom: 5rem;
}

.pt-2{
  padding-top: 0.5rem;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pt-4{
  padding-top: 1rem;
}

.pb-1{
  padding-bottom: 0.25rem;
}

.pt-16{
  padding-top: 4rem;
}

.pr-5{
  padding-right: 1.25rem;
}

.pl-1{
  padding-left: 0.25rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pl-5{
  padding-left: 1.25rem;
}

.pb-6{
  padding-bottom: 1.5rem;
}

.pr-28{
  padding-right: 7rem;
}

.pl-4{
  padding-left: 1rem;
}

.pl-7{
  padding-left: 1.75rem;
}

.pr-3{
  padding-right: 0.75rem;
}

.pb-7{
  padding-bottom: 1.75rem;
}

.pt-3{
  padding-top: 0.75rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.pt-10{
  padding-top: 2.5rem;
}

.pb-14{
  padding-bottom: 3.5rem;
}

.pl-10{
  padding-left: 2.5rem;
}

.pb-16{
  padding-bottom: 4rem;
}

.pt-11{
  padding-top: 2.75rem;
}

.pb-1\.5{
  padding-bottom: 0.375rem;
}

.pt-28{
  padding-top: 7rem;
}

.pr-1{
  padding-right: 0.25rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pr-10{
  padding-right: 2.5rem;
}

.pl-14{
  padding-left: 3.5rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.align-middle{
  vertical-align: middle;
}

.font-poppins{
  font-family: poppins, sans-serif;
}

.font-sans{
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-\[28px\]{
  font-size: 28px;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[40px\]{
  font-size: 40px;
}

.text-\[15px\]{
  font-size: 15px;
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-\[12px\]{
  font-size: 12px;
}

.font-semibold{
  font-weight: 600;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-light{
  font-weight: 300;
}

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

.capitalize{
  text-transform: capitalize;
}

.leading-tight{
  line-height: 1.25;
}

.leading-8{
  line-height: 2rem;
}

.leading-5{
  line-height: 1.25rem;
}

.leading-6{
  line-height: 1.5rem;
}

.leading-\[22px\]{
  line-height: 22px;
}

.leading-7{
  line-height: 1.75rem;
}

.leading-none{
  line-height: 1;
}

.leading-10{
  line-height: 2.5rem;
}

.tracking-wide{
  letter-spacing: 0.025em;
}

.tracking-wider{
  letter-spacing: 0.05em;
}

.tracking-widest{
  letter-spacing: 0.1em;
}

.tracking-\[0\.1rem\]{
  letter-spacing: 0.1rem;
}

.tracking-\[5px\]{
  letter-spacing: 5px;
}

.text-gray-800{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-first-gray{
  --tw-text-opacity: 1;
  color: rgb(96 96 96 / var(--tw-text-opacity));
}

.text-third-gray{
  --tw-text-opacity: 1;
  color: rgb(155 155 155 / var(--tw-text-opacity));
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-gray-600{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-indigo-600{
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.text-green-600{
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity));
}

.text-red-600{
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-gray-700{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-indigo-700{
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity));
}

.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(36 123 221 / var(--tw-text-opacity));
}

.text-second-gray{
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

.text-blue-400{
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity));
}

.text-blue-500{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-gray-200{
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.text-green-700{
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
}

.text-red-500{
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-neutral-900{
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity));
}

.text-gray-300{
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.text-yellow-500{
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
}

.\!text-blue-500{
  --tw-text-opacity: 1 !important;
  color: rgb(59 130 246 / var(--tw-text-opacity)) !important;
}

.text-\[\#0fab4e\]{
  --tw-text-opacity: 1;
  color: rgb(15 171 78 / var(--tw-text-opacity));
}

.text-forth-gray{
  --tw-text-opacity: 1;
  color: rgb(225 225 225 / var(--tw-text-opacity));
}

.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.antialiased{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.placeholder-second-gray::-moz-placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(51 51 51 / var(--tw-placeholder-opacity));
}

.placeholder-second-gray:-ms-input-placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(51 51 51 / var(--tw-placeholder-opacity));
}

.placeholder-second-gray::placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(51 51 51 / var(--tw-placeholder-opacity));
}

.opacity-0{
  opacity: 0;
}

.opacity-100{
  opacity: 1;
}

.shadow-sm{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl{
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-1{
  outline-width: 1px;
}

.outline-offset-0{
  outline-offset: 0px;
}

.outline-primary{
  outline-color: #247bdd;
}

.ring-1{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-gray-300{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}

.ring-black{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity));
}

.ring-opacity-5{
  --tw-ring-opacity: 0.05;
}

.drop-shadow-lg{
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-sm{
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-300{
  transition-delay: 300ms;
}

.duration-150{
  transition-duration: 150ms;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-75{
  transition-duration: 75ms;
}

.duration-500{
  transition-duration: 500ms;
}

.duration-1000{
  transition-duration: 1000ms;
}

.duration-300{
  transition-duration: 300ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

[x-cloak] { display: none !important; }

.active-navbar{
  position: relative;
  border-top-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

.active-navbar::before{
  position: absolute;
  height: 100%;
  width: 100%;
  content: var(--tw-content);
  background-color: rgb(255 255 255 / 0.2);
}

.placeholder\:text-lg::-moz-placeholder{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.placeholder\:text-lg:-ms-input-placeholder{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.placeholder\:text-lg::placeholder{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.placeholder\:font-light::-moz-placeholder{
  font-weight: 300;
}

.placeholder\:font-light:-ms-input-placeholder{
  font-weight: 300;
}

.placeholder\:font-light::placeholder{
  font-weight: 300;
}

.placeholder\:text-slate-700::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.placeholder\:text-slate-700:-ms-input-placeholder{
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.placeholder\:text-slate-700::placeholder{
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.before\:absolute::before{
  content: var(--tw-content);
  position: absolute;
}

.before\:inset-2::before{
  content: var(--tw-content);
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
}

.before\:inset-x-9::before{
  content: var(--tw-content);
  left: 2.25rem;
  right: 2.25rem;
}

.before\:bottom-0::before{
  content: var(--tw-content);
  bottom: 0px;
}

.before\:left-20::before{
  content: var(--tw-content);
  left: 5rem;
}

.before\:-left-1::before{
  content: var(--tw-content);
  left: -0.25rem;
}

.before\:-left-2::before{
  content: var(--tw-content);
  left: -0.5rem;
}

.before\:top-1\.5::before{
  content: var(--tw-content);
  top: 0.375rem;
}

.before\:top-1::before{
  content: var(--tw-content);
  top: 0.25rem;
}

.before\:top-0::before{
  content: var(--tw-content);
  top: 0px;
}

.before\:left-3::before{
  content: var(--tw-content);
  left: 0.75rem;
}

.before\:top-1\/2::before{
  content: var(--tw-content);
  top: 50%;
}

.before\:left-0::before{
  content: var(--tw-content);
  left: 0px;
}

.before\:left-1\/2::before{
  content: var(--tw-content);
  left: 50%;
}

.before\:-left-12::before{
  content: var(--tw-content);
  left: -3rem;
}

.before\:-top-4::before{
  content: var(--tw-content);
  top: -1rem;
}

.before\:-z-10::before{
  content: var(--tw-content);
  z-index: -10;
}

.before\:hidden::before{
  content: var(--tw-content);
  display: none;
}

.before\:h-14::before{
  content: var(--tw-content);
  height: 3.5rem;
}

.before\:h-full::before{
  content: var(--tw-content);
  height: 100%;
}

.before\:h-4::before{
  content: var(--tw-content);
  height: 1rem;
}

.before\:h-2::before{
  content: var(--tw-content);
  height: 0.5rem;
}

.before\:h-44::before{
  content: var(--tw-content);
  height: 11rem;
}

.before\:h-\[3px\]::before{
  content: var(--tw-content);
  height: 3px;
}

.before\:h-5::before{
  content: var(--tw-content);
  height: 1.25rem;
}

.before\:w-14::before{
  content: var(--tw-content);
  width: 3.5rem;
}

.before\:w-1::before{
  content: var(--tw-content);
  width: 0.25rem;
}

.before\:w-4::before{
  content: var(--tw-content);
  width: 1rem;
}

.before\:w-2::before{
  content: var(--tw-content);
  width: 0.5rem;
}

.before\:w-11\/12::before{
  content: var(--tw-content);
  width: 91.666667%;
}

.before\:w-8::before{
  content: var(--tw-content);
  width: 2rem;
}

.before\:w-5::before{
  content: var(--tw-content);
  width: 1.25rem;
}

.before\:translate-y-1\/2::before{
  content: var(--tw-content);
  --tw-translate-y: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:-translate-y-1\/2::before{
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:-translate-x-1\/2::before{
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:rounded-full::before{
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:border-\[30px\]::before{
  content: var(--tw-content);
  border-width: 30px;
}

.before\:border::before{
  content: var(--tw-content);
  border-width: 1px;
}

.before\:border-8::before{
  content: var(--tw-content);
  border-width: 8px;
}

.before\:border-transparent::before{
  content: var(--tw-content);
  border-color: transparent;
}

.before\:border-first-gray::before{
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(96 96 96 / var(--tw-border-opacity));
}

.before\:border-gray-500::before{
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

.before\:border-l-white::before{
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-left-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.before\:bg-blue-500::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.before\:bg-white::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.before\:bg-yellow-500::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity));
}

.before\:bg-primary::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(36 123 221 / var(--tw-bg-opacity));
}

.before\:bg-five-gray::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity));
}

.before\:bg-forth-gray::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(225 225 225 / var(--tw-bg-opacity));
}

.before\:text-3xl::before{
  content: var(--tw-content);
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.before\:text-4xl::before{
  content: var(--tw-content);
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.before\:font-medium::before{
  content: var(--tw-content);
  font-weight: 500;
}

.before\:text-primary::before{
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(36 123 221 / var(--tw-text-opacity));
}

.before\:transition-all::before{
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.before\:duration-300::before{
  content: var(--tw-content);
  transition-duration: 300ms;
}

.before\:content-\[\'\\201C\'\]::before{
  --tw-content: '\201C';
  content: var(--tw-content);
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:inset-x-5::after{
  content: var(--tw-content);
  left: 1.25rem;
  right: 1.25rem;
}

.after\:bottom-0::after{
  content: var(--tw-content);
  bottom: 0px;
}

.after\:right-3::after{
  content: var(--tw-content);
  right: 0.75rem;
}

.after\:-top-2::after{
  content: var(--tw-content);
  top: -0.5rem;
}

.after\:left-1\/2::after{
  content: var(--tw-content);
  left: 50%;
}

.after\:top-1\/2::after{
  content: var(--tw-content);
  top: 50%;
}

.after\:z-10::after{
  content: var(--tw-content);
  z-index: 10;
}

.after\:h-2::after{
  content: var(--tw-content);
  height: 0.5rem;
}

.after\:h-3::after{
  content: var(--tw-content);
  height: 0.75rem;
}

.after\:w-3::after{
  content: var(--tw-content);
  width: 0.75rem;
}

.after\:-translate-x-1\/2::after{
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:-translate-y-1\/2::after{
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:rounded-full::after{
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-five-gray::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity));
}

.after\:bg-primary::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(36 123 221 / var(--tw-bg-opacity));
}

.after\:text-3xl::after{
  content: var(--tw-content);
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.after\:font-medium::after{
  content: var(--tw-content);
  font-weight: 500;
}

.after\:text-primary::after{
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(36 123 221 / var(--tw-text-opacity));
}

.after\:content-\[\'\\201C\'\]::after{
  --tw-content: '\201C';
  content: var(--tw-content);
}

.hover\:scale-105:hover{
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-100:hover{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-t-2:hover{
  border-top-width: 2px;
}

.hover\:border-gray-300:hover{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.hover\:border-blue-500:hover{
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

.hover\:bg-gray-700:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:bg-gray-50:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.hover\:bg-third-gray:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(155 155 155 / var(--tw-bg-opacity));
}

.hover\:bg-blue-500:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.hover\:bg-second-gray:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:bg-gray-400:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.hover\:pl-4:hover{
  padding-left: 1rem;
}

.hover\:text-gray-900:hover{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.hover\:text-gray-700:hover{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.hover\:text-gray-800:hover{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.hover\:text-gray-500:hover{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.hover\:text-blue-500:hover{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-gray-400:hover{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.hover\:text-blue-400:hover{
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity));
}

.hover\:text-primary:hover{
  --tw-text-opacity: 1;
  color: rgb(36 123 221 / var(--tw-text-opacity));
}

.hover\:shadow-lg:hover{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:duration-1000:hover{
  transition-duration: 1000ms;
}

.hover\:before\:inset-0:hover::before{
  content: var(--tw-content);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.hover\:before\:left-0:hover::before{
  content: var(--tw-content);
  left: 0px;
}

.hover\:before\:flex:hover::before{
  content: var(--tw-content);
  display: flex;
}

.focus\:z-10:focus{
  z-index: 10;
}

.focus\:border-0:focus{
  border-width: 0px;
}

.focus\:border-indigo-300:focus{
  --tw-border-opacity: 1;
  border-color: rgb(165 180 252 / var(--tw-border-opacity));
}

.focus\:border-gray-900:focus{
  --tw-border-opacity: 1;
  border-color: rgb(17 24 39 / var(--tw-border-opacity));
}

.focus\:border-indigo-700:focus{
  --tw-border-opacity: 1;
  border-color: rgb(67 56 202 / var(--tw-border-opacity));
}

.focus\:border-gray-300:focus{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.focus\:border-blue-300:focus{
  --tw-border-opacity: 1;
  border-color: rgb(147 197 253 / var(--tw-border-opacity));
}

.focus\:bg-gray-100:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.focus\:bg-indigo-100:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}

.focus\:bg-gray-50:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.focus\:text-gray-700:focus{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.focus\:text-indigo-800:focus{
  --tw-text-opacity: 1;
  color: rgb(55 48 163 / var(--tw-text-opacity));
}

.focus\:text-gray-800:focus{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.focus\:text-gray-500:focus{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:outline:focus{
  outline-style: solid;
}

.focus\:ring:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-indigo-200:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity));
}

.focus\:ring-opacity-50:focus{
  --tw-ring-opacity: 0.5;
}

.active\:bg-gray-900:active{
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.active\:bg-gray-100:active{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.active\:text-gray-700:active{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.active\:text-gray-500:active{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.disabled\:opacity-25:disabled{
  opacity: 0.25;
}

.group:hover .group-hover\:inset-2{
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
}

.group:hover .group-hover\:mt-6{
  margin-top: 1.5rem;
}

.group:hover .group-hover\:flex{
  display: flex;
}

.group:hover .group-hover\:w-28{
  width: 7rem;
}

.group:hover .group-hover\:translate-y-0{
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:border-none{
  border-style: none;
}

.group:hover .group-hover\:pt-0{
  padding-top: 0px;
}

.group:hover .group-hover\:text-blue-500{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

.group:hover .group-hover\:transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.group:hover .group-hover\:duration-700{
  transition-duration: 700ms;
}

.group:hover .group-hover\:duration-500{
  transition-duration: 500ms;
}

.group:hover .group-hover\:duration-300{
  transition-duration: 300ms;
}

.group:hover .group-hover\:duration-1000{
  transition-duration: 1000ms;
}

@media (prefers-color-scheme: dark){

  .dark\:divide-gray-700 > :not([hidden]) ~ :not([hidden]){
    --tw-divide-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-divide-opacity));
  }

  .dark\:bg-gray-700{
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }

  .dark\:bg-gray-800{
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }

  .dark\:text-gray-400{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }

  .dark\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .dark\:hover\:bg-gray-700:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }
}

@media (min-width: 640px){

  .sm\:-my-px{
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .sm\:ml-10{
    margin-left: 2.5rem;
  }

  .sm\:ml-6{
    margin-left: 1.5rem;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:hidden{
    display: none;
  }

  .sm\:items-center{
    align-items: center;
  }

  .sm\:justify-center{
    justify-content: center;
  }

  .sm\:rounded-lg{
    border-radius: 0.5rem;
  }

  .sm\:rounded-t-lg{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .sm\:rounded-b-lg{
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-0{
    padding-top: 0px;
  }
}

@media (min-width: 768px){

  .md\:ml-0{
    margin-left: 0px;
  }

  .md\:mt-0{
    margin-top: 0px;
  }

  .md\:mt-16{
    margin-top: 4rem;
  }

  .md\:mb-0{
    margin-bottom: 0px;
  }

  .md\:mt-8{
    margin-top: 2rem;
  }

  .md\:mt-6{
    margin-top: 1.5rem;
  }

  .md\:mb-5{
    margin-bottom: 1.25rem;
  }

  .md\:mt-4{
    margin-top: 1rem;
  }

  .md\:flex{
    display: flex;
  }

  .md\:grid{
    display: grid;
  }

  .md\:h-80{
    height: 20rem;
  }

  .md\:w-full{
    width: 100%;
  }

  .md\:w-\[25\%\]{
    width: 25%;
  }

  .md\:w-\[60\%\]{
    width: 60%;
  }

  .md\:w-auto{
    width: auto;
  }

  .md\:w-8{
    width: 2rem;
  }

  .md\:w-2\/5{
    width: 40%;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-2\/3{
    width: 66.666667%;
  }

  .md\:w-\[40\%\]{
    width: 40%;
  }

  .md\:w-\[580px\]{
    width: 580px;
  }

  .md\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:flex-col{
    flex-direction: column;
  }

  .md\:flex-wrap{
    flex-wrap: wrap;
  }

  .md\:items-start{
    align-items: flex-start;
  }

  .md\:items-center{
    align-items: center;
  }

  .md\:justify-start{
    justify-content: flex-start;
  }

  .md\:justify-center{
    justify-content: center;
  }

  .md\:justify-between{
    justify-content: space-between;
  }

  .md\:gap-6{
    gap: 1.5rem;
  }

  .md\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .md\:space-x-5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:space-x-6 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:space-y-4 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }

  .md\:divide-none > :not([hidden]) ~ :not([hidden]){
    border-style: none;
  }

  .md\:justify-self-start{
    justify-self: start;
  }

  .md\:justify-self-end{
    justify-self: end;
  }

  .md\:justify-self-center{
    justify-self: center;
  }

  .md\:border-b-0{
    border-bottom-width: 0px;
  }

  .md\:border-r{
    border-right-width: 1px;
  }

  .md\:border-b-4{
    border-bottom-width: 4px;
  }

  .md\:border-t-0{
    border-top-width: 0px;
  }

  .md\:border-forth-gray{
    --tw-border-opacity: 1;
    border-color: rgb(225 225 225 / var(--tw-border-opacity));
  }

  .md\:p-3{
    padding: 0.75rem;
  }

  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .md\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .md\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:pt-28{
    padding-top: 7rem;
  }

  .md\:pb-24{
    padding-bottom: 6rem;
  }

  .md\:pt-20{
    padding-top: 5rem;
  }

  .md\:pt-24{
    padding-top: 6rem;
  }

  .md\:pb-1\.5{
    padding-bottom: 0.375rem;
  }

  .md\:pb-1{
    padding-bottom: 0.25rem;
  }

  .md\:pt-0{
    padding-top: 0px;
  }

  .md\:text-left{
    text-align: left;
  }

  .md\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:leading-6{
    line-height: 1.5rem;
  }

  .md\:tracking-wide{
    letter-spacing: 0.025em;
  }

  .md\:tracking-wider{
    letter-spacing: 0.05em;
  }

  .md\:text-second-gray{
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
  }

  .md\:before\:absolute::before{
    content: var(--tw-content);
    position: absolute;
  }

  .md\:before\:right-0::before{
    content: var(--tw-content);
    right: 0px;
  }

  .md\:before\:top-1\/2::before{
    content: var(--tw-content);
    top: 50%;
  }

  .md\:before\:h-1\/2::before{
    content: var(--tw-content);
    height: 50%;
  }

  .md\:before\:w-\[2px\]::before{
    content: var(--tw-content);
    width: 2px;
  }

  .md\:before\:-translate-y-1\/2::before{
    content: var(--tw-content);
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:before\:bg-forth-gray::before{
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(225 225 225 / var(--tw-bg-opacity));
  }
}

@media (min-width: 1024px){

  .lg\:mt-0{
    margin-top: 0px;
  }

  .lg\:ml-0{
    margin-left: 0px;
  }

  .lg\:mb-16{
    margin-bottom: 4rem;
  }

  .lg\:mb-0{
    margin-bottom: 0px;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:h-14{
    height: 3.5rem;
  }

  .lg\:h-12{
    height: 3rem;
  }

  .lg\:h-\[400px\]{
    height: 400px;
  }

  .lg\:h-96{
    height: 24rem;
  }

  .lg\:w-90{
    width: 1220px;
  }

  .lg\:w-1\/3{
    width: 33.333333%;
  }

  .lg\:w-80{
    width: 20rem;
  }

  .lg\:w-84{
    width: 1190px;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:w-1\/2{
    width: 50%;
  }

  .lg\:w-60{
    width: 15rem;
  }

  .lg\:w-12{
    width: 3rem;
  }

  .lg\:w-16{
    width: 4rem;
  }

  .lg\:w-40{
    width: 10rem;
  }

  .lg\:w-32{
    width: 8rem;
  }

  .lg\:flex-shrink-0{
    flex-shrink: 0;
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:flex-row-reverse{
    flex-direction: row-reverse;
  }

  .lg\:flex-col{
    flex-direction: column;
  }

  .lg\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .lg\:items-start{
    align-items: flex-start;
  }

  .lg\:items-end{
    align-items: flex-end;
  }

  .lg\:justify-center{
    justify-content: center;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:gap-8{
    gap: 2rem;
  }

  .lg\:space-x-4 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-8 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-6 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:border-none{
    border-style: none;
  }

  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .lg\:py-28{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .lg\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lg\:py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .lg\:px-14{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .lg\:pt-0{
    padding-top: 0px;
  }

  .lg\:pr-32{
    padding-right: 8rem;
  }

  .lg\:pt-20{
    padding-top: 5rem;
  }

  .lg\:pr-4{
    padding-right: 1rem;
  }

  .lg\:pr-20{
    padding-right: 5rem;
  }

  .lg\:pt-\[70px\]{
    padding-top: 70px;
  }

  .lg\:pr-8{
    padding-right: 2rem;
  }

  .lg\:pt-36{
    padding-top: 9rem;
  }

  .lg\:pl-8{
    padding-left: 2rem;
  }

  .lg\:pt-4{
    padding-top: 1rem;
  }

  .lg\:pl-16{
    padding-left: 4rem;
  }

  .lg\:pl-14{
    padding-left: 3.5rem;
  }

  .lg\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }

  .lg\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-xs{
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .lg\:font-medium{
    font-weight: 500;
  }

  .lg\:leading-6{
    line-height: 1.5rem;
  }

  .lg\:tracking-\[5px\]{
    letter-spacing: 5px;
  }

  .lg\:before\:absolute::before{
    content: var(--tw-content);
    position: absolute;
  }

  .lg\:before\:right-0::before{
    content: var(--tw-content);
    right: 0px;
  }

  .lg\:before\:top-1\/2::before{
    content: var(--tw-content);
    top: 50%;
  }

  .lg\:before\:h-1\/2::before{
    content: var(--tw-content);
    height: 50%;
  }

  .lg\:before\:w-\[2px\]::before{
    content: var(--tw-content);
    width: 2px;
  }

  .lg\:before\:w-10::before{
    content: var(--tw-content);
    width: 2.5rem;
  }

  .lg\:before\:-translate-y-1\/2::before{
    content: var(--tw-content);
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:before\:bg-forth-gray::before{
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(225 225 225 / var(--tw-bg-opacity));
  }
}

@media (min-width: 1280px){

  .xl\:w-84{
    width: 1190px;
  }

  .xl\:w-\[1190px\]{
    width: 1190px;
  }

  .xl\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }
}

