@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }


.active-navbar{
    @apply relative before:absolute before:w-full before:h-full before:bg-white/20 border-t-2 border-blue-500;
}
